.workspaces__container {
  padding: 4rem 5rem;
  background-color: #4e7d9626;
}

@media screen and (max-width: 450px) {
  .workspaces__container {
    padding: 1.5rem 1rem;
  }
}
@media screen and (min-width: 450px) and (max-width: 641px) {
  .workspaces__container {
    padding: 1.5rem 1.5rem;
  }
}
@media screen and (min-width: 641px) and (max-width: 1200px) {
  .workspaces__container {
    padding: 1.5rem 2rem;
  }
}
