.bookmarks {
  position: relative;
  padding: 1.4rem;
  background-color: #f4f4f4;
  height: 100%;
}
.bookmark__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.bookmarks h3 {
  color: #4e7d96;
  display: inline-block;
}
.single__bookmark__header {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}
.single__bookmark {
  background-color: white;
  padding: 2rem 1rem;
  margin: 0.4rem;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px rgb(0, 0, 0, 0.3);
}
.single__bookmark__container {
  background-color: #f4f4f4;
  font-size: 0.9rem;
  padding: 1rem 0.5rem;
  color: #959492;
}
