.login {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)),
    url("../../static/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.alert {
  border: 2px solid brown;
  width: 30px;
  height: 40px;
  position: fixed;
  top: 0px;
}
.signin__signup {
  background-color: white;
  box-shadow: 0px 0px 50px #00000026;
  width: 65%;
  height: 85%;
  max-height: 700px;
  max-width: 1010px;
  border-radius: 0.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
}
.signin__signup__header {
  display: flex;
  position: relative;
  justify-content: flex-end;
}
.signin__signup__header__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 1.6rem;
  width: 5.5rem;
  height: 5.5rem;
  object-fit: contain;
}
.signin__signup__header__options {
  margin: 1.8rem;
  border-radius: 10px;
  background-color: #6f96aa;
}
.signin__signup__header__options button {
  border: none;
  background-color: #6f96aa;
  color: white;
  padding: 6px 14px;
  font-size: 0.875rem;
  outline: none;
  border: 1px solid #6f96aa;
  border-radius: 10px;
  display: inline-block;
  width: 100px;
  cursor: pointer;
}

.signin__signup__header__options .signin__signup__options__active {
  background-color: white;
  color: #4e7d96;
}
.signin__signup__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 1.2rem;
}

.signin__signup__container_header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.signin__signup__container_header .MuiButton-outlined {
  background-color: var(--unnamed-color-6f96aa);
  border: 0px;
  padding: 7px 10px;
  margin: 1rem;
  font-size: 1rem;
  font-weight: 600;
}
.signin__signup__container_header .MuiButton-outlined .fab {
  margin: 6px;
  margin-right: 12px;
  font-size: 1.3rem;
}
.signin__signup__container_header .MuiButton-outlined:hover {
  background-color: #6f96aa;
  color: white;
}
.signin__signup__container_mid {
  width: 70%;
  position: relative;
  display: flex;
  justify-content: center;
}
.signin__signup__container_mid hr {
  background-color: #6f96aa;
  width: 50%;
}
.signin__signup__container_mid p {
  position: absolute;
  top: -8px;
  background-color: white;
  padding: 0 10px;
  transform: translateY(50%);
  left: 50%;
  transform: translateX(-50%);
  color: #4e7d96;
}

@media screen and (max-width: 1008px) {
  .signin__signup__header__logo {
    top: 5rem;
    width: 4.5rem;
    height: 4.5rem;
  }
}
@media screen and (max-width: 520px) {
  .signin__signup__container_header {
    flex-direction: column;
  }
  .signin__signup {
    width: 95%;
    height: 90%;
  }
  .signin__signup__container form {
    width: 60%;
  }
}
@media screen and (max-width: 741px) and (min-width: 520px) {
  .signin__signup {
    width: 90%;
  }
}
.signin__signup .signin__signup__submitbutton:hover {
  background-color: var(--new-orange);
  color: white;
}
